<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="care">

	<select id="getTotal" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM ddd_care c
		LEFT JOIN ddd_user u
		ON c.user_number = u.user_number
		LEFT JOIN ddd_user_shelter s
		ON c.user_number = s.user_number
		WHERE c.care_status IN ('open', 'closed')
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="type == 'shelter'">
					AND (
					s.shelter_name LIKE CONCAT('%', #{keyword}, '%')
					OR
					u.user_nickname LIKE CONCAT('%', #{keyword}, '%')
					)
				</when>
				<when test="type == 'title'">
					AND c.care_title LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
	</select>

	<select id="selectCareList" parameterType="map" resultType="CareListDTO">
		SELECT
			c.care_number AS careNumber,
			c.care_title AS careTitle,
			c.care_date AS careDate,
			IFNULL(s.shelter_name, u.user_nickname) AS shelterName,
			c.care_write_date AS careWriteDate,
			CONCAT((
				SELECT COUNT(*)
				FROM ddd_care_apply a
				WHERE a.care_number = c.care_number
			), '/', c.care_recruit) AS applyStatus,
			c.care_status AS careStatus
		FROM ddd_care c
		INNER JOIN ddd_user u ON c.user_number = u.user_number
		LEFT JOIN ddd_user_shelter s ON c.user_number = s.user_number
		WHERE c.care_status IN ('open', 'closed')

		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="type == 'shelter'">
					AND (
					s.shelter_name LIKE CONCAT('%', #{keyword}, '%')
					OR
					u.user_nickname LIKE CONCAT('%', #{keyword}, '%')
					)
				</when>
				<when test="type == 'title'">
					AND c.care_title LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>

		ORDER BY
			CASE WHEN c.care_status = 'open' THEN 0 ELSE 1 END,
            <![CDATA[
                CASE WHEN DATE(c.care_date) >= CURDATE() THEN 0 ELSE 1 END ASC,
                CASE WHEN DATE(c.care_date) >= CURDATE() THEN c.care_date END ASC,
                CASE WHEN DATE(c.care_date) < CURDATE() THEN c.care_date END DESC,
            ]]>
			c.care_number DESC
		LIMIT #{offset}, #{limit}
	</select>

	<select id="getDetail" parameterType="int" resultType="CareDetailDTO">
		SELECT
			c.care_number,
			c.user_number,
			c.care_title,
			c.care_post,
			c.care_date,
			c.care_recruit,
			u.user_nickname,
			c.care_write_date,
			c.care_status,
			COUNT(a.apply_number) AS apply_count
		FROM ddd_care c
		JOIN ddd_user u ON c.user_number = u.user_number
		LEFT JOIN ddd_care_apply a ON c.care_number = a.care_number
		WHERE c.care_number = #{careNumber}
		  AND c.care_status IN ('open', 'closed')
		GROUP BY
			c.care_number,
			c.user_number,
			c.care_title,
			c.care_post,
			c.care_date,
			c.care_recruit,
			u.user_nickname,
			c.care_write_date,
			c.care_status
	</select>

	<insert id="insertCare" parameterType="CareDTO" useGeneratedKeys="true" keyProperty="careNumber">
		INSERT INTO ddd_care (
			user_number,
			care_title,
			care_post,
			care_date,
			care_recruit,
			care_write_date,
			care_status
		)
		VALUES (
			#{userNumber},
			#{careTitle},
			#{carePost},
			#{careDate},
			#{careRecruit},
			NOW(),
			'open'
		)
	</insert>

	<update id="updateCare" parameterType="CareDTO">
		UPDATE ddd_care
		SET
			care_title = #{careTitle},
			care_post = #{carePost},
			care_date = #{careDate},
			care_recruit = #{careRecruit}
		WHERE care_number = #{careNumber}
		  AND user_number = #{userNumber}
	</update>

	<update id="deleteCare" parameterType="int">
		UPDATE ddd_care
		SET care_status = 'deleted'
		WHERE care_number = #{careNumber}
	</update>

	<insert id="applyCare" parameterType="CareApplyDTO" useGeneratedKeys="true" keyProperty="applyNumber">
		<![CDATA[
		INSERT INTO ddd_care_apply (care_number, user_number, apply_date)
		SELECT #{careNumber}, #{userNumber}, NOW()
		FROM DUAL
		WHERE EXISTS (
			SELECT 1
			FROM ddd_care c
			WHERE c.care_number = #{careNumber}
			  AND c.care_status = 'open'
			  AND DATE(c.care_date) >= CURDATE()
			  AND (
				SELECT COUNT(*)
				FROM ddd_care_apply a
				WHERE a.care_number = c.care_number
			  ) < c.care_recruit
		)
		]]>
	</insert>

	<select id="checkDuplicateApply" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM ddd_care_apply
		WHERE care_number = #{careNumber}
		  AND user_number = #{userNumber}
	</select>

	<select id="getApplyCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM ddd_care_apply
		WHERE care_number = #{careNumber}
	</select>

	<update id="incrementApplyCount" parameterType="int">
		UPDATE ddd_care
		SET apply_count = apply_count + 1
		WHERE care_number = #{careNumber}
		  AND care_status = 'open'
	</update>

	<update id="closeCare" parameterType="int">
		UPDATE ddd_care c
		SET c.care_status = 'closed'
		WHERE c.care_number = #{careNumber}
		  AND (
			SELECT COUNT(*)
			FROM ddd_care_apply a
			WHERE a.care_number = c.care_number
		  ) >= c.care_recruit
	</update>

	<delete id="cancelApply" parameterType="map">
		DELETE FROM ddd_care_apply
		WHERE care_number = #{careNumber}
		  AND user_number = #{userNumber}
	</delete>

	<update id="reopenCare" parameterType="int">
		<![CDATA[
		UPDATE ddd_care c
		SET c.care_status = 'open'
		WHERE c.care_number = #{careNumber}
		  AND DATE(c.care_date) >= CURDATE()
		  AND (
			  SELECT COUNT(*) 
			  FROM ddd_care_apply a 
			  WHERE a.care_number = c.care_number
		  ) < c.care_recruit
		  AND c.care_status <> 'deleted'
		]]>
	</update>

	<select id="selectApplyUsers" parameterType="int" resultType="CareApplyDTO">
		SELECT
			a.apply_number,
			u.user_number,
			u.user_name,
			u.user_nickname,
			u.user_phone
		FROM ddd_care_apply a
		JOIN ddd_user u ON a.user_number = u.user_number
		WHERE a.care_number = #{careNumber}
	</select>

	<select id="getApplyStatus" parameterType="int" resultType="String">
		SELECT CONCAT(COUNT(a.apply_number), '/', c.care_recruit) AS apply_status
		FROM ddd_care c
		LEFT JOIN ddd_care_apply a ON c.care_number = a.care_number
		WHERE c.care_number = #{careNumber}
		GROUP BY c.care_recruit
	</select>

	<select id="checkCareOwner" parameterType="int" resultType="int">
		<![CDATA[
		SELECT user_number
		FROM ddd_care
		WHERE care_number = #{careNumber}
		  AND care_status <> 'deleted'
		]]>
	</select>

	<update id="syncCareStatus" parameterType="int">
		<![CDATA[
		UPDATE ddd_care c
		SET c.care_status = CASE
			WHEN c.care_status = 'deleted' THEN 'deleted'
			WHEN DATE(c.care_date) < CURDATE() THEN 'closed'
			WHEN (
				SELECT COUNT(*)
				FROM ddd_care_apply a
				WHERE a.care_number = c.care_number
			) >= c.care_recruit THEN 'closed'
			ELSE 'open'
		END
		WHERE c.care_number = #{careNumber}
		  AND c.care_status <> 'deleted'
		]]>
	</update>

	<update id="updateExpiredStatus">
		<![CDATA[
		UPDATE ddd_care
		SET care_status = 'closed'
		WHERE care_status = 'open'
		  AND DATE(care_date) < CURDATE()
		]]>
	</update>

</mapper>