<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">

	<insert id="fileInsert" parameterType="FileDTO">
		INSERT INTO ddd_file (
			file_system_name, 
			file_original_name, 
			user_number
		) VALUES (
			#{fileSystemName}, 
			#{fileOriginalName}, 
			#{userNumber}
		)
	</insert>

	<select id="fileCount" parameterType="int" resultType="int">
		SELECT COUNT(file_system_name)
		FROM ddd_file 
		WHERE user_number = #{userNumber}
	</select>

	<select id="selectFile" parameterType="int" resultType="FileDTO">
		SELECT 
			file_system_name, 
			file_original_name, 
			user_number
		FROM ddd_file
		WHERE user_number = #{userNumber}
	</select>

	<delete id="deleteFile" parameterType="int">
		DELETE FROM ddd_file
		WHERE user_number = #{userNumber}
	</delete>

</mapper>